<?xml version="1.0" encoding="UTF-8"?>
<!-- Link onde ficam os padrões de configurações do Hibernate para mapeamento. -->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		<property name="show_sql">true</property>
		<!-- <property name="hibernate.format_sql">true</property>  -->

		<!-- Classes que irão mapear as Entidades do Banco -->
		<mapping class="br.ufjf.avaliacao.model.Avaliacao" />
		<mapping class="br.ufjf.avaliacao.model.Curso" />
		<mapping class="br.ufjf.avaliacao.model.Disciplina" />
		<mapping class="br.ufjf.avaliacao.model.Pergunta" />
		<mapping class="br.ufjf.avaliacao.model.PrazoQuestionario" />
		<mapping class="br.ufjf.avaliacao.model.Questionario" />
		<mapping class="br.ufjf.avaliacao.model.Resposta" />
		<mapping class="br.ufjf.avaliacao.model.RespostaEspecifica" />
		<mapping class="br.ufjf.avaliacao.model.Turma" />
		<mapping class="br.ufjf.avaliacao.model.Usuario" />
	</session-factory>
</hibernate-configuration>
